<template>
  <div class="hello">
    <button v-on:click="completeRegistration">completeRegistration</button>
    <button v-on:click="login">login</button>
    <br>
    <br>
    <button v-on:click="view_page_section">view_page_section</button>
    <br>
    <br>
    <button v-on:click="support_ticket_submitted">support_ticket_submitted</button>
    <br>
    <br>
    <button v-on:click="change_plan">change_plan</button>
    <button v-on:click="cancel_plan">cancel_plan</button>
    <button v-on:click="change_payment_method">change_payment_method</button>
    <button v-on:click="transaction">transaction</button>
    <br>
    <br>
    <button v-on:click="add_data_inregration">add_data_inregration</button>
    <button v-on:click="edit_data_inregration">edit_data_inregration</button>
    <button v-on:click="add_user_to_data_integration">add_user_to_data_integration</button>
    <button v-on:click="delete_data_integration">delete_data_integration</button>
    <br>
    <br>
    <button v-on:click="create_report">create_report</button>
    <button v-on:click="edit_report">edit_report</button>
    <button v-on:click="share_report">share_report</button>
    <button v-on:click="add_user_to_report">add_user_to_report</button>
    <button v-on:click="view_report">view_report</button>
    <button v-on:click="export_report">export_report</button>
    <button v-on:click="delete_report">delete_report</button>
    <br>
    <br>
    <button v-on:click="create_dashboard">create_dashboard</button>
    <button v-on:click="edit_dashboard">edit_dashboard</button>
    <button v-on:click="share_dashboard">share_dashboard</button>
    <button v-on:click="add_user_to_dashboard">add_user_to_dashboard</button>
    <button v-on:click="view_dashboard">view_dashboard</button>
    <button v-on:click="export_dashboard">export_dashboard</button>
    <button v-on:click="delete_dashboard">delete_dashboard</button>

  </div>
</template>

<script>


  const mixpanel = require("mixpanel-browser")
  const MIX_PANEL_CONFIG = require('../mixpanel_controller/config.js')
  const mixpanelEvents = require ('../mixpanel_controller/events.js')


  // initialize mixpanel client configured to communicate over https
  // better to push it global
  mixpanel.init(MIX_PANEL_CONFIG.MIX_PANEL_TOKEN, {
    protocol: 'http',
    debug: true,
  });

  //
  const user_id = 1234 // get user id
  //

export default {
  name: 'HelloWorld',
  computed: {
    event_data: function () {
      return {
        plan_name:"Plan name",
        plan_type:"Plan type",
        plan_price:"Plan type",
        user_role:"User role",
        team_id:"Team id",
        team_name:"Team name",
        team_size:"Team size",
        name:'$name',
        email:'$email',
        reg_date:'Registration date',
        reg_method:'Registration method',
        utm_source:'UTM Source',
        utm_content:'UTM Content',
        utm_medium:'UTM Medium',
        utm_term:'UTM Term',
        login_method:"Login method",
        page_name:"Page name",
        section_name:"Section name",
        old_plan_name:'Old plan name',
        old_plan_type:'Old plan type',
        old_plan_price:'Old plan price',
        plan_change:'Plan change',
        cancellation_reason:'Cancellation reason',
        old_payment_method:"Old payment method",
        payment_method: "Payment method",
        amount:100,
        data_integration_id:"Data integration ID",
        data_integration_type:"Data integration type",
        time_finish:"Time finish",
        edit_connection_settings:'Edit connection settings',
        edit_attributes:'Edit attributes',
        dashboard_id:"Data integration ID",
        added_user_role:"Added user role",
        export_type:"Export type",
        report_id:"Report ID",
        report_name:"Report name",
        data_integration_ids:"Data integration IDs",
        report_template:"Report template",
        report_diagrams:"Report diagrams",
        report_categories:"Report categories",
        report_values:"Report values",
        edit_filters:"Edit filters",
        edit_format:"Edit format",
        save_report:'Save report',
        old_data_integration_ids:'Old data integration IDs',
        old_report_diagram:'Old report diagram',
        report_diagram:'Report diagram',
        edit_data_filters:'Edit filters',
        edit_data_format:'Edit format',
        save_report_changes:'Save report changes',
        use_query: "Use query",
        dashboard_name:"Dashboard name",
        save_dashboard:'Save dashboard',
        dashboard_template:'Dashboard template',
        use_graph:'Use graphs',
        use_reports:'Use reports',
        use_text:'Use text',
        use_img:'Use img',
        use_html:'Use html',
        save_dashboard_changes:'Save dashboard changes',
        edit_graph:'Edit graphs',
        edit_reports:'Edit reports',
        edit_text:'Edit text',
        edit_img:'Edit img',
        edit_html:'Edit html',
      }
    }
  },

  methods: {
    // the function executes after user succesfully registration
    completeRegistration: function () {
      mixpanelEvents.completeRegistration(mixpanel, user_id, this.event_data)
    },

    // the function executes after user succesfully login
    login: function () {
      mixpanelEvents.login(mixpanel, user_id, this.event_data)
    },

    // the function executes after user view any page of the app or any section within page (pop up, tab or any view which appear within parent view)
    view_page_section: function () {
      mixpanelEvents.view_page_section(mixpanel, this.event_data)
    },

    // the function executes after user succesfully submit support ticket
    support_ticket_submitted: function () {
      mixpanelEvents.support_ticket_submitted (mixpanel, this.event_data)
    },

    // the function executes after user succesfully change plan
    change_plan: function () {
      mixpanelEvents.change_plan (mixpanel, this.event_data)
    },

    // the function executes after user succesfully cancel plan
    cancel_plan: function () {
      mixpanelEvents.cancel_plan (mixpanel, this.event_data)
    },

    // the function executes after money transaction
    change_payment_method: function () {
      mixpanelEvents.change_payment_method (mixpanel, this.event_data)
    },

    // the function executes after user change payment method
    transaction: function () {
      mixpanelEvents.transaction (mixpanel, this.event_data)
    },


    //data integrations block

    // the function executes after user succesfully create data integration
    add_data_inregration: function () {
      mixpanelEvents.add_data_inregration (mixpanel, this.event_data)
    },

    // the function executes after user succesfully edit data integration
    edit_data_inregration: function () {
      mixpanelEvents.edit_data_inregration (mixpanel, this.event_data)
    },

    // the function executes after user succesfully share data integration
    add_user_to_data_integration: function () {
      mixpanelEvents.add_user_to_data_integration (mixpanel, this.event_data)
    },

    // the function executes after user succesfully export data integration
    delete_data_integration: function () {
      mixpanelEvents.delete_data_integration (mixpanel, this.event_data)
    },


    //reports block

    // the function executes after user succesfully create report
    create_report: function () {
      mixpanelEvents.create_report (mixpanel, this.event_data)
    },

    // the function executes after user succesfully edit report
    edit_report: function () {
      mixpanelEvents.edit_report (mixpanel, this.event_data)
    },

    // the function executes after user succesfully share report
    share_report: function () {
      mixpanelEvents.share_report (mixpanel, this.event_data)
    },

    // the function executes after user succesfully share report
    add_user_to_report: function () {
      mixpanelEvents.add_user_to_report (mixpanel, this.event_data)
    },

    // the function executes after user view report
    view_report: function () {
      mixpanelEvents.view_report (mixpanel, this.event_data)
    },

    // the function executes after user succesfully export report
    export_report: function () {
      mixpanelEvents.export_report (mixpanel, this.event_data)
    },

    // the function executes after user succesfully export report
    delete_report: function () {
      mixpanelEvents.delete_report (mixpanel, this.event_data)
    },


    //dashboards block

    // the function executes after user succesfully create dashboard
    create_dashboard: function () {
      mixpanelEvents.create_dashboard (mixpanel, this.event_data)
    },

    // the function executes after user succesfully edit dashboard
    edit_dashboard: function () {
      mixpanelEvents.edit_dashboard (mixpanel, this.event_data)
    },

    // the function executes after user succesfully share dashboard
    share_dashboard: function () {
      mixpanelEvents.share_dashboard (mixpanel, this.event_data)
    },

    // the function executes after user succesfully share dashboard
    add_user_to_dashboard: function () {
      mixpanelEvents.add_user_to_dashboard (mixpanel, this.event_data)
    },

    // the function executes after user view dashboard
    view_dashboard: function () {
      mixpanelEvents.view_dashboard (mixpanel, this.event_data)
    },

    // the function executes after user succesfully export dashboard
    export_dashboard: function () {
      mixpanelEvents.export_dashboard (mixpanel, this.event_data)
    },

    // the function executes after user succesfully export dashboard
    delete_dashboard: function () {
      mixpanelEvents.delete_dashboard (mixpanel, this.event_data)
    },


  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
